<%- include('../partials/header') %>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid my-3">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Inventário 2020</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Início</a></li>
              <li class="breadcrumb-item active"><a href="/unidades">Todas Unidades</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    
    <div class='container'>
    <div class='row'>
      <div class='container-fluid my-3'>
        <button class='btn btn-sm btn-secondary' onclick='goBack(2)' type="">Voltar </button>
      </div>
    </div>
<h3>Informações da <%= unidade.nome %></h3>
  <form method='post'>
    <div class='row'>
      <div class='col-md-12 mt-3'>
          <h6>  Responsável: <%= unidade.responsavel %> - UL:<%= unidade.ul %></h6>
        <hr>
      <% if(unidade.termo === 'ok') { %>
          <div class='alert alert-success'>
            <h6 class='text-center'> Termo de Responsabilidade Entregue</h6>
          </div>
        <% } else { %>
            <div class='alert alert-warning'>
              <h6 class='text-center'> Termo de Responsabilidade Pendente</h6>
            </div>
        <% } %>
        <% if(unidade.bens === 'ok') { %>
          <div class='alert alert-success'>
            <h6 class='text-center'> Todos os bens foram Lidos</h6>
          </div>
        <% } else { %>
            <div class='alert alert-warning'>
              <h6 class='text-center'> Existem bens Pendentes</h6>
            </div>
        <% } %>

      </div>
      <textarea class='form-control'rows="2" cols="" name='comentario'></textarea>
      <input class='btn btn-primary my-3' type="submit" name="" value="Registrar Comentário">
    </div>
  </form>

    
</div>
<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <% unidade.comentario.forEach( c => { %>
        <div class='card'>
          <p class='text-muted text-justify'><%= c %></p>
        </div>
      <% }) %>
    </div>
  </div>
</div>

</div>
    <script>
      function goBack() {
        window.history.back(2)
      }
    </script>
<%- include('../partials/footer') %>